<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>The Title of The Home Page <%= new Date().getFullYear(); %></h1>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti fugiat,
      quaerat voluptatem architecto doloremque eos velit quae expedita molestiae
      quos a odio? Quas ab ut nobis. Modi commodi delectus nisi. Lorem ipsum
      dolor sit amet consectetur, adipisicing elit. Perspiciatis rem aut ipsum
      quasi veniam. Provident, praesentium consequatur, facere, quo quidem
      distinctio mollitia cumque earum illum facilis iste necessitatibus
      aspernatur veniam.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore sit vitae
      debitis accusamus aut quia quibusdam quas omnis? Incidunt, magni nesciunt
      suscipit doloremque officia aut excepturi tempora ipsam facere dolore.
    </p>
  </body>
</html>
