<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Random Number Page</title>
  </head>
  <body>
    <h1>Today's random number is <%=randomNum%></h1>
    <% if (randomNum % 2 == 0) { %>
    <h2>Even</h2>
    <% } %>
  </body>
</html>
